<div class="card">
    <h5 class="card-header">About me</h5>
    <div class="card-body">

        {{ form_start(form) }}

        <div class="form-row">
            <div class="form-group col-md-12">
                {{ form_errors(form.aboutMe) }}
                {{ form_widget(form.aboutMe, { 'attr': { 'class': 'form-control', 'rows': 5}}) }}
            </div>

            <div class="form-group col-md-12">
                <button class="btn btn-lg btn-success float-right" type="submit">Save</button>
            </div>

        </div>

        {{ form_end(form) }}

    </div>
</div>