{% extends 'base-authenticated.html.twig' %}

{% block title %}{% trans %}Profile{% endtrans %}{% endblock %}

{% block content %}

    <h1>{{ user.username }} profile</h1>

    {% if edit %}

        {% include 'profile/about-me-edit.html.twig' %}

    {% else %}

        {% include 'profile/about-me.html.twig' %}

    {% endif %}

    <div class="row mt-3">

        {% for post in posts %}

            {% include 'profile/post-miniature.html.twig' %}

            {% if loop.index % 3 == 0 %}

                <div class="w-100"></div>

            {% endif %}


        {% endfor %}

    </div>

{% endblock %}
