{% extends 'base-authenticated.html.twig' %}

{% block title %}{% trans %}Profile{% endtrans %}{% endblock %}

{% block content %}

    <h1>{{ user.username }} profile</h1>

    <div class="card">
        <h5 class="card-header">About me</h5>
        <div class="card-body">
            {% if user.aboutMe is null or user.aboutMe|length == 0 %}

                <p class="card-text">{{ user.username }} didn't write anything about himself :(</p>

            {% else %}

                <p class="card-text">{{ user.aboutMe }}</p>

            {% endif %}


        </div>
    </div>

    <div class="row">

        {% for post in posts %}

            {% include 'profile/post-miniature.html.twig' %}

            {% if loop.index % 3 == 0 %}

                <div class="w-100"></div>

            {% endif %}


        {% endfor %}

    </div>

{% endblock %}
