@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}

.card-inner{
    margin-left: 4rem;
}

.post-miniature {

    min-width: 50%;

    .card-img-top {
        height: 150px;
        overflow: hidden;
        border-bottom: 1px solid lightgray;

        -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.27);
        -moz-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.27);
        box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.27);

        img {
            height: auto;
            width: 100%;
        }
    }

    p {
        color: black;
        text-decoration: none;
    }

    &:hover {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

        p {
            text-decoration: none;
        }
    }
}