<!-- Post -->
<div class="card mb-4">
    <img class="card-img-top" src="{{ "/uploads/images/" ~ post.user.getId ~ "/" ~ post.image }}">
    <div class="card-body">
        <p class="card-text">{{ post.content }}</p>

        {% for comment in post. %}

    </div>
    <div class="card-footer text-muted">
        {{ post.addDate|date("m.d.Y H:i") }}
    </div>
</div>